In [33]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import datetime

In [46]:
data = pd.read_csv('anonymized.csv')
# date_format = "%a,%d,%b,%Y,%H:%M"
df = data
df.insert(2, 'date', '')
df['date'] = pd.to_datetime(df['day'].astype(str) + ' ' + df['month'] + ' ' + df['year'].astype(str), format='%d %B %Y')

# Drop the original 'day', 'month', and 'year' columns if needed
df = df.drop(columns=['day', 'month', 'year'])
df

,weekday,date,start_time,end_time,duration(in h),pseudonym,sex,machine
0,Mo,2022-12-05,12:00,13:00,1.0,F1,f,2
1,Mo,2022-12-05,13:00,14:00,1.0,F2,f,2
2,Di,2022-12-06,12:00,13:00,1.0,M1,m,1
3,Di,2022-12-06,13:00,14:30,1.5,M2,m,1
4,Di,2022-12-06,14:30,15:30,1.0,M3,m,1
...,...,...,...,...,...,...,...,...
2341,Mo,2023-12-04,10:30,11:30,1.0,M36,m,2
2342,Mo,2023-12-04,11:30,12:30,1.0,M7,m,2
2343,Mo,2023-12-04,15:00,16:00,1.0,M1,m,2
2344,Mo,2023-12-04,17:20,18:20,1.0,M44,m,1
2345,Mo,2023-12-04,17:20,18:20,1.0,M44,m,2

,weekday,date,start_time,end_time,duration(in h),pseudonym,sex,machine
0,Mo,2022-12-05,12:00,13:00,1.0,F1,f,2
1,Mo,2022-12-05,13:00,14:00,1.0,F2,f,2
2,Di,2022-12-06,12:00,13:00,1.0,M1,m,1
3,Di,2022-12-06,13:00,14:30,1.5,M2,m,1
4,Di,2022-12-06,14:30,15:30,1.0,M3,m,1
...,...,...,...,...,...,...,...,...
2341,Mo,2023-12-04,10:30,11:30,1.0,M36,m,2
2342,Mo,2023-12-04,11:30,12:30,1.0,M7,m,2
2343,Mo,2023-12-04,15:00,16:00,1.0,M1,m,2
2344,Mo,2023-12-04,17:20,18:20,1.0,M44,m,1
2345,Mo,2023-12-04,17:20,18:20,1.0,M44,m,2

     weekday start_time end_time  duration(in h) pseudonym sex  machine
0         Mo      12:00    13:00             1.0        F1   f        2
1         Mo      13:00    14:00             1.0        F2   f        2
2         Di      12:00    13:00             1.0        M1   m        1
3         Di      13:00    14:30             1.5        M2   m        1
4         Di      14:30    15:30             1.0        M3   m        1
...      ...        ...      ...             ...       ...  ..      ...
2341      Mo      10:30    11:30             1.0       M36   m        2
2342      Mo      11:30    12:30             1.0        M7   m        2
2343      Mo      15:00    16:00             1.0        M1   m        2
2344      Mo      17:20    18:20             1.0       M44   m        1
2345      Mo      17:20    18:20             1.0       M44   m        2

[2346 rows x 7 columns]